/*
* Theme Name: Job Stock
* Author: Themez Hub
* Version: 1.1
* Last Change: 08/14/2017
  Author URI    : http://www.themezhub.com/
-------------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# General Setting
# Form And Button
# Heading Style
# Pagination Style
# Search Filter Style
# Navigation Style Setting
# First Home Page Banner Style Settings
# Search form style
# Banner Brand Carousel
# Second Home Page Banner Style Settings
# Banner bottom search form
# Third Home Page Banner Style Settings
# Search job Style
# Fourth Home Page Banner Style Settings
# Five Home Page Banner Style Settings
# Advance Job Feature
# Work Process Style Settings
# Top features Style Settings
# Video Part Style Settings
# Work Process Style Settings
# Testimonials Style Settings
# Call To Actione Style Settings
# Pricing Table Style Settings
# Download app Style Settings
# Footer Part Style Settings
# Footer Social Media
# Footer Contact Form Style
# Footer Copyright Style
# Inner Page Style Settings
	-Common Style Setting
	-Inner Dropdown Button Style
	-Search Filter
	
# Browse Job Style Settings
# Browse Company Style Settings
# Browse Resume Style Settings
# Manage Candidate Style Settings
# Manage Employee Style Settings
# Manage Company Style Settings
# Manage Resume Style Settings
# Manage Resume 2 Style Settings
# Job, Resume and Company Detail Page Style 
# Add Company, Resume and Job Page Style Settings
	-Bootstrap Editor
	-file field
	
#  Company detail, Job Detail and Resume Detail Page Style Settings
# Accordion  Page Style Settings
	-simple Accordian style
	-style for accordian three
	
# Tab Page Style Settings
	-Simple Tab style
	-Icon Tab style
	
# Login and Signup Popup
# Contact us Page Style Settings
# Blog Page Page Design

	-Sidebar Star
# Blog Detail Page Style Settings
	-Blog Comment Style Settings
	
# Login Signup And Forget password page style settings
# Begin: Signup 2 page design
# Blog Page Page Design
# Blog Detail Page Style
# Blog Comment Style Settings
# Login Signup And Forget password page 
# Signup 2 page design
# Search Job Page Design
# Brows job in Grid Style 
--------------------------------------------------------*/

/* ==========================================================================
Fonts
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');

/* ==========================================================================
General Setting
========================================================================== */
html,body {
width:100%;
height: auto;
margin:0;
padding:0;
overflow-x: hidden;
}

body {
background:#ffffff;
font-family: 'Raleway', sans-serif;
position: relative;
font-size:14px;
color: #35434e;
line-height:24px;
}
h1 {font-size: 50px}
h2 {font-size: 30px}
h3 {font-size: 25px}
h4 { font-size: 16px;}
p {
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    color:#707c88;
    line-height: 23px;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    transition: .2s ease-in;
}
::selection {
    background: #07b107;
    color: #fff;
}
a{
color: #707c88;
}
a,
a:active,
a:focus,
a:hover{
outline:none;
text-decoration:none;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.row {
margin-right: 15px;
margin-left: 15px;
}

section{
padding:70px 0 60px 0;
background:#ffffff;
}

section.gray{
background:#eef5f9;
}
.no-mrg{
padding:0;
margin-left:0px;
margin-right:0px;
}
a.btn.call-btn {
background: #ffffff;
border-radius: 4px;
padding: 0.8em 2em;
color:#07b107;
text-transform: capitalize;
}
/* ==========================================================================
Form And Button
========================================================================== */
button:hover, input:hover, input:focus, button:focus{
outline:none;
}

.form-control {
    height:50px;
    border: 1px solid #dde6ef;
	margin-bottom:10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
	color:#445461;
    font-weight: 400;
}
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
	margin-bottom:10px;
    border: 1px solid #dde6ef;
}
.form-control:hover, .form-control:focus{
border: 1px solid #07b107;
-webkit-box-shadow:0 1px 1px rgba(7,177,7,.075);
box-shadow:0 1px 1px rgba(7,177,7,.075);
outline:none;
}
.form-control .btn.dropdown-toggle.btn-default:hover, .form-control .btn.dropdown-toggle.btn-default:focus{
border:none;
-webkit-box-shadow:none;
box-shadow:none;
outline:none;
}
.bootstrap-select button.btn.dropdown-toggle.bs-placeholder.btn-default {
    background: transparent;
    height: 46px;
    border: 1px solid transparent;
    color:#445461;
    text-shadow: none;
    border-radius: 0px;
    box-shadow: none;
}
.btn.btn-primary {
    border: 1px solid #07b107;
    border-radius: 0px;
    width: 100%;
    height: 46px;
    background: #07b107;
    text-transform: capitalize;
    font-size: 16px;
}
.btn.btn-primary:hover, .btn.btn-primary:focus{
    border: 1px solid #07b107;
    border-radius: 0px;
    width: 100%;
    height: 46px;
    background: #07b107;
    text-transform: capitalize;
    font-size: 16px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    height: 46px;
}
.bootstrap-select .dropdown-toggle:focus {
    outline:none !important;
    outline:none !important;
    outline-offset:0 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    padding: 8px 10px;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
    box-shadow: none;
    background: #07b107;
    color: #ffffff;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color:#445461;
    background-color: transparent;
    border-color: transparent;
}
button.btn.dropdown-toggle.btn-default {
    background: transparent;
    border: none;
    box-shadow: none;
    height: 46px;
}
textarea::-moz-placeholder{color:#6a7884;opacity:1;}
textarea::-ms-input-placeholder{color:#6a7884;}
textarea::-webkit-input-placeholder{color:#6a7884;}

.form-control::-moz-placeholder{color:#99abb9;opacity:1;}
.form-control::-ms-input-placeholder{color:#99abb9;}
.form-control::-webkit-input-placeholder{color:#99abb9;}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: none;
    outline: none;
    outline-offset: 0;
}
/*-------------------------------------------
Heading Style
--------------------------------------------*/
.main-heading{
text-align:center;
margin-bottom:2em;
}
.main-heading p{
font-size:16px;
color:#707c88;
margin-bottom:5px;
text-transform:uppercase;
}
.dark .main-heading p, .dark .main-heading h2{
color:#ffffff;
}
.main-heading h2{
color:#35434e;
position:relative;
font-weight:600;
margin-top:0px;
margin-bottom:10px;
font-family: 'Raleway', sans-serif;
}
.main-heading h2>span{
color:#07b107;
}
.main-heading span.heading-line {
width:80px;
height: 1.2px;
display: block;
background: #07b107;
position: relative;
margin: 0 auto;
}
/*----------------------------------------
 Pagination Style
--------------------------------------------*/
.pagination {
	display: table;
	padding-left: 0;
	margin: 20px 0;
	border-radius:4px;
	margin: 20px auto;
}
.pagination>li>a, .pagination>li>span {
position: relative;
float: left;
padding: 12px 20px;
margin: 5px;
line-height: 1.42857143;
color: #5a6f7c;
text-decoration: none;
background-color: #fff;
border-radius:2px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .pagination>li>a:hover, .pagination>li>a:focus {
z-index: 2;
color:#07b107;
cursor:pointer;
background-color:rgba(7,177,7,0.1);
border-color:#07b107;
}
.pagination li:first-child a {
background: #07b107;
border: 1px solid #07b107;
border-radius:2px;
color:#ffffff;
}
.pagination li:last-child a {
background: #35434e;
border: 1px solid #35434e;
border-radius:2px;
color:#ffffff;
}

/*---------------------------------------- 
Search Filter Style
--------------------------------------------*/
.search-filter {
    padding: 1em 0;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    margin-bottom: 20px;
}
.short-by.pull-right {
margin-top: 12px;
}
.search-filter .input-group{
height:46px;
}	
.search-filter .form-control{
border-radius:2px;
height:100%;
color: #707c88;
font-weight:400;
font-size: 16px;
margin-bottom:10px;
font-family: 'Quicksand', sans-serif;
box-shadow:none;
border:1px solid #ccddea;
}
.search-filter button.btn.btn-default {
    height: 46px;
    padding: 0 20px;
    font-size: 18px;
    background: #07b107;
    border: 1px solid #07b107;
    color: #ffffff;
    border-radius: 0 2px 2px 0;
}
.dropdown-menu{
right:0;
left: initial;
}
.search-filter .form-control:hover, .search-filter .form-control:focus{
border-color:#07b107;
box-shadow:0px 0px 10px 2px rgba(7,177,7,0.1);
-webkit-box-shadow:0px 0px 10px 2px rgba(7,177,7,0.1);
-moz-box-shadow:0px 0px 10px 2px rgba(7,177,7,0.1);
}

.search-filter .dropdown, .dropup {
position: relative;
float: none;
display: inline-block;
margin-left: 10px;
}
.search-filter .dropdown-menu{
box-shadow:none;
border-color:#ccddea;
}
.search-filter .dropdown-menu>li>a {
padding: 10px 20px;
color: #35434e;
}
.search-filter .dropdown-menu>li>a:hover, .search-filter .dropdown-menu>li>a:focus{
text-decoration:none;
background:#07b107;
color:#ffffff;
}

/* ==========================================================================
          Navigation Style Setting
========================================================================== */
.navbar-default {
background-image: none;
background-image: none;
background-image: none;
background-image: none;
filter: none;
background-repeat: repeat-x;
border-radius: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
nav.navbar.bootsnav ul.nav > li > a {
color: #ffffff;
text-transform: uppercase;
background-color: transparent !important;
font-family: 'Quicksand', sans-serif;
}
.navbar .form-control {
font-weight: 400;
font-size: 15px;
background:#445461;
color:#99abb9;
border: 1px solid #586977;
border-radius: 1px;
box-shadow: none;
min-width: 205px;
}
.navbar.navbar-transparent .form-control{
background:#ffffff;
color:#636d75;
border: 1px solid #e4e4e4;
}
.navbar .form-control:hover, .navbar .form-control:focus{
border-color:#07b107;
}

.form-control::-moz-placeholder{color:#99abb9;opacity:1;}
.form-control:-ms-input-placeholder{color:#99abb9;}
.form-control::-webkit-input-placeholder{color:#99abb9;}

.navbar.navbar-transparent .form-control::-moz-placeholder{color:#343a40;opacity:1}
.navbar.navbar-transparent .form-control:-ms-input-placeholder{color:#343a40;}
.navbar.navbar-transparent .form-control::-webkit-input-placeholder{color:#343a40;}

nav.navbar.bootsnav ul.nav > li > a i {
font-size: 16px;
color:#99abb9;
margin-right: 9px;
}
nav.bootsnav .megamenu-content .title{
text-transform:capitalize;
font-family: 'Raleway', sans-serif;
font-size:20px;
color:#35434e;
}

ul.cart-list > li.total > .btn{
border-bottom: solid 1px #cfcfcf !important;
color: #fff !important;
padding: 10px 15px;
}
nav.navbar.bootsnav {
background-color:#35434E;
border-bottom: 1px solid #35434E;
}

/* ==========================================================================
       First Home Page Banner Style Settings
========================================================================== */
.banner{
background:url(http://via.placeholder.com/1920x850);
background-size:cover;
padding-top:13%;
padding-bottom:0%;
position:relative;
background-position:center;
}
.banner:before{
content:"";
display:block;
left:0;
right:0;
top:0;
bottom:0;
height:100%;
width:100%;
position:absolute;
background:#282C32;
opacity:0.64;
}
.company-brand img:hover, .company-brand img:focus {
opacity: 1;
}
.banner-caption{
text-align:left;
display: inline-block;
width: 100%;
}

.banner-text{
margin-top:5%;
margin-bottom:1em;
text-align:center;
}
.banner h1{
color:#ffffff;
text-shadow:none;
font-family: 'Raleway', sans-serif;
font-weight: 600;
line-height:1.3;
letter-spacing:3px;
}
.banner h1 span{
color:#07b107;	
}
.banner p {
font-family: 'Raleway', sans-serif;
color: #ffffff;
opacity: 0.8;
font-weight:300;
font-size: 18px;
text-transform:capitalize;
line-height: 1.9;
}
.banner .no-padd{
padding:0 5px;	
}
/*-----------------------------------
Search form style
----------------------------------------*/
form.form-horizontal {
padding: 20px;
display: table;
width: 100%;
background: rgba(255,255,255,0.2);
border-radius: 4px;
}
.banner-caption .form-control{
background:#ffffff;
border:none;
border-radius:0px;
height:48px;
color:#282C32;
font-size:15px;
width:100%;
box-shadow:none;
font-family: 'Quicksand', sans-serif;
}
.banner-caption select.form-control:hover, .banner-caption select.form-control:focus{
border:none;
box-shadow:none;
}
.banner-caption .input-group{
width:100%;
padding:0;
display: block;
}
.banner-caption .btn-primary{
background:#07b107;
height:48px;
color:#ffffff;
border-radius:0px;
border-color:#07b107;
width:100%;
font-size:16px;
text-transform:uppercase;
display:block;
}
.banner-caption .btn-primary:focus, .banner-caption .btn-primary:hover{
background:#07b107;
text-transform:uppercase;
box-shadow:none;
outline:none;
color:#ffffff;
border-color:#07b107;
}
.banner-caption .form-control::-moz-placeholder{color:#282C32;opacity:1}
.banner-caption .form-control:-ms-input-placeholder{color:#282C32}
.banner-caption .form-control::-webkit-input-placeholder{color:#282C32}

/*----------------------------------------
Banner Brand Carousel
----------------------------------------*/
.company-brand {
background: rgba(52,58,64,0.7);
margin-top: 50px;
display: table;
padding: 2em 0;
width: 100%;
position:relative;
}
.company-brand img {
display: block;
margin: 0 auto;
opacity: 0.42;
}

/* ==========================================================================
       Second Home Page Banner Style Settings
========================================================================== */
.simple-banner{
background:url(http://via.placeholder.com/1920x850);
padding:8em 0 6em 0;
background-size:cover;
}
.simple-banner h3{
text-transform:uppercase;
font-family:'Raleway', sans-serif;
font-weight:500;
color:#35434E;
}
.simple-banner h1{
text-transform:uppercase;
font-family:'Raleway', sans-serif;
color:#35434E;
font-weight:700;
}
.simple-banner h1 span{
color:#07b107;
}
/*------------------------------------------
Banner bottom search form
--------------------------------------------*/
.bottom-search-form {
    background: #35434e;
    padding: 3em 0;
}
.bottom-search-form input.form-control, .bottom-search-form select.form-control {
background: #42525f;
border-radius: 2px;
height: 48px;
margin-bottom: 10px;
border: 1px solid #4f616f;
width: 100%;
color:#99abb9;
}
.bottom-search-form button.btn.btn-primary {
width: 100%;
height: 48px;
border-radius: 2px;
font-size: 16px;
background: #07b107;
border: 1px solid #0bbf0b;
}
.bottom-search-form input.form-control:focus, select.form-control:focus{
border:1px solid #07b107;
box-shadow:0px 0px 7px 1px rgba(7,177,7,0.1);
}

/* ==========================================================================
      Third Home Page Banner Style Settings
========================================================================== */
.home-three-banner{
background:url(http://via.placeholder.com/1920x850);
padding:8em 0 6em 0;
position:relative;
text-align:left;
background-size:cover;
}

.home-three-banner:before{
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
height:100%;
content:"";
background:rgba(53,67,78,0.70);
}
.home-three-banner .banner-text{
text-align:left;
}
.home-three-banner form.bt-form {
    margin: 25px -15px;
}
.home-three-banner h1{
text-transform:capitalize;
font-family:'Raleway', sans-serif;
color:#ffffff;
font-weight:700;
}
.home-three-banner p{
font-size:16px;
line-height:1.8;
color:#ffffff;
}
.home-three-banner h1 span{
color:#07b107;
}

/*-----------------------------------------
Search job Style
---------------------------------------------*/

.home-three-banner input.form-control, .home-three-banner select.form-control {
background: #ffffff;
border-radius: 2px;
height: 48px;
margin-bottom: 10px;
border: 1px solid #ffffff;
width: 100%;
color: #636d75;
}
.home-three-banner button.btn.btn-primary {
width: 100%;
height: 48px;
border-radius: 2px;
font-size: 16px;
background: #07b107;
border: 1px solid #0bbf0b;
}
.home-three-banner input.form-control:focus, .home-three-banner select.form-control:focus{
border:1px solid #07b107;
box-shadow:0px 0px 7px 1px rgba(7,177,7,0.1);
}

/* ==========================================================================
      Fourth Home Page Banner Style Settings
========================================================================== */
.home-plane-banner{
background:url(http://via.placeholder.com/1920x850);
padding:8em 0 6em 0;
position:relative;
text-align:left;
background-size:cover;
}
.home-plane-banner:before{
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
height:100%;
content:"";
background:rgba(255,255,255,0.02);
}
.home-plane-banner .banner-text{
text-align:center;
}

.home-plane-banner h1{
text-transform:capitalize;
font-family:'Raleway', sans-serif;
color:#35434e;
line-height:1.2;
font-weight:700;
}
.home-plane-banner p{
font-size:16px;
line-height:1.8;
color:#5d6d79;
}
.home-plane-banner h1 span{
color:#07b107;
}
a.btn.btn-banner {
    background: #07b107;
    width: 220px;
    padding: 15px 0;
    display: table;
    margin: 25px auto;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 16px;
    color: #ffffff;
}
/* ==========================================================================
       Five Home Page Banner Style Settings
========================================================================== */
.banner.home-5{
background:url(http://via.placeholder.com/1920x850);
background-size:cover;
padding-top:13%;
padding-bottom:0%;
position:relative;
background-position:center;
}
.banner.home-5:before{
content:"";
display:block;
left:0;
right:0;
top:0;
bottom:0;
height:100%;
width:100%;
position:absolute;
background:#282C32;
opacity:0.70;
}
.company-brand img:hover, .company-brand img:focus {
opacity: 1;
}
.banner-caption{
text-align:left;
display: inline-block;
width: 100%;
}

.home-5 .banner-text{
margin-top:0%;
margin-bottom:1em;
text-align:center;
}
.banner h1{
color:#ffffff;
text-shadow:none;
font-family: 'Raleway', sans-serif;
font-weight: 600;
line-height:1.3;
letter-spacing:3px;
}
.banner h1 span{
color:#07b107;	
}
.banner p {
font-family: 'Raleway', sans-serif;
color: #ffffff;
opacity: 0.8;
font-weight:300;
font-size: 18px;
text-transform:capitalize;
line-height: 1.9;
}
.banner.home-5 .no-padd{
padding:0px;	
}
.banner.home-5 .video-box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(255, 255, 255,0.3);
    display: table;
    margin:50px auto 20px auto;
    padding: 10px;
    position: relative;
}
.banner.home-5 .video-box a.btn.btn-video {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background:#ffffff;
}
.banner.home-5 .video-box a.btn.btn-video i {
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    color: #07b107;
}
/*-----------------------------------------------
Advance Job Feature
----------------------------------------------*/

.job-feature.advance-fr{
    text-align: center;
    transition:all 0.3s ease 0s;
	padding:3em 0em;
	background: #ffffff;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.job-feature.advance-fr .feature-icon i {
    font-size: 1.7em;
    color: #07b107;
    margin-bottom: 7px;
    width: 60px;
    height: 60px;
    transition: ease-in-out 0.4s;
    background: rgba(7, 177, 7,0.07);
    line-height: 60px;
    border-radius: 50%;
}
.job-feature.advance-fr .feature-caption h5 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 16px;
    color: #55646f;
    font-family: 'Quicksand', sans-serif;
}
.job-feature.advance-fr .feature-caption p {
    color: #707c88;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}
.job-feature.advance-fr:hover i {
    background: #07b107;
    color: #ffffff;
}
.job-feature.advance-fr:after,
.job-feature.advance-fr:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transition:all 0.5s ease 0s;
}
.job-feature.advance-fr:after{
    border-bottom: 1px solid #07b107;
    border-top: 1px solid #07b107;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
    z-index: -1;
}
.job-feature.advance-fr:before{
    border-left: 1px solid #07b107;
    border-right: 1px solid #07b107;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
    z-index: -1;
}
.job-feature.advance-fr:hover:after{
    transform: scaleX(1);
}
.job-feature.advance-fr:hover:before{
    transform: scaleY(1);
}
/*-----------------------------------------------
Work Process Style Settings
----------------------------------------------*/

.home-three .work-process {
    margin-bottom:30px;
    margin-top: 20px;
}
.home-three .work-process-icon {
    width: 50px;
    height: 50px;
    float:none;
	margin-bottom: 13px;
	display: block;
}
.home-three .work-process-caption {
    margin-left:0px;
}
.work-process-caption h4 {
    margin-bottom: 10px;
}
/* ==========================================================================
       Top features Style Settings
========================================================================== */
.first-feature{
background:#f4f7f7;
}
.job-feature {
padding: 2em 0.5em;
background: #ffffff;
margin-bottom: 10px;
}
.first-feature .small-padding {
padding: 0 5px;
}
.all-features{
text-align:center;
}
.feature-post{
margin-bottom:40px;
}
.all-features h3 {
font-weight: 500;
margin-bottom: 26px;
color: #282C32;
}
.all-features h3 span {
color:#07b107;
}
.feature-icon i {
font-size:1.7em;
color: #07b107;
margin-bottom:7px;
width:60px;
height:60px;
transition:ease-in-out 0.4s;
background:rgba(7, 177, 7,0.07);
line-height:60px;
border-radius: 50%;
}
.job-feature:hover i{
background:#07b107;
color:#ffffff;
}
.feature-caption h5 {
text-transform: uppercase;
font-weight:500;
margin-bottom: 4px;
font-size: 16px;
color:#55646f;
font-family: 'Quicksand', sans-serif;
}
.feature-caption p {
color: #707c88;
font-size: 16px;
line-height: 1.8;
font-weight: 400;
font-family: 'Quicksand', sans-serif;
}


/* ==========================================================================
       Video Part Style Settings
========================================================================== */
.video-sec{
background:url(http://via.placeholder.com/1920x850);
background-size:cover;
background-attachment:fixed;
background-position:center;
text-align:center;
position:relative;
}
.video-sec .heading{
margin-bottom:2em;
}
.heading h2, .heading p{
position:relative;
}
.video-sec:before{
position:absolute;
display:block;
left:0;
right:0;
top:0;
bottom:0;
content:"";
background:rgba(53, 67, 78,0.7);
}
a.video-btn {
position:relative;
display: table;
margin: 0 auto;
vertical-align: middle;
height: 120px;
width: 120px;
background: #ffffff;
line-height: 120px;
border-radius: 50%;
transition:all 0.4s;
}
a.video-btn i {
font-size: 40px;
width:80px;
height:80px;
border-radius: 50%;
color:#07b107;
box-shadow:0px 0px 20px 0px rgba(7, 177, 7,0.4);
-webkit-box-shadow:0px 0px 20px 0px rgba(7, 177, 7,0.4);
-moz-box-shadow:0px 0px 20px 0px rgba(7, 177, 7,0.4);
line-height:80px;
vertical-align: middle;
transition:all 0.4s;
}
a.video-btn:hover{
background:#35434E;
}
a.video-btn:hover i{
background:#07b107;
color:#ffffff;
}

/* ==========================================================================
       Work Process Style Settings
========================================================================== */
.work-process {
margin-bottom: 30px;
}
.work-process-icon {
width: 50px;
height: 50px;
float: left;
}
.work-process-icon span {
font-size: 2.5em;
color: #07b107;
}
.work-process-caption {
margin-left: 55px;
}
.work-process-caption h4{
font-weight:500;
margin-bottom: 4px;
font-size: 16px;
color:#55646f;
position:relative;
padding-bottom:15px;
text-transform: uppercase;
font-family: 'Quicksand', sans-serif;	
}
.work-process-caption h4:before{
content:"";
bottom:0;
left:0;
height:2px;
width:80px;
display:block;
position:absolute;
background:#07b107;
}
.work-process-caption p{
color: #707c88;
font-size:16px;
line-height: 1.8;
font-weight: 400;
font-family: 'Quicksand', sans-serif;	
}



/* ==========================================================================
       Testimonials Style Settings
========================================================================== */
.testimonial{
background:#f4f7f7;
}
#appller-testimonial-slider{
margin-top:2.5em;
text-align:center;
}
.client-testimonial{
text-align: center;
margin: 50px 10px 0;
padding: 0 10% 4%;
background: #fff;
border-radius:4px;
box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
-moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
-o-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
}
.client-testimonial .pic{
width: 100px;
height: 100px;
border-radius: 50%;
border-bottom: 2px solid rgb(7, 177, 7);
display: inline-block;
margin-top: -50px;
overflow: hidden;
box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.client-testimonial .pic img{
width: 100%;
height: auto;
}
.client-testimonial .client-description {
font-size: 14px;
font-family: 'Quicksand', sans-serif;
color:#707c88;
line-height: 30px;
margin: 10px 0 5px;
}
.client-testimonial .client-testimonial-title{
font-size: 14px;
font-weight: bold;
margin: 0;
color:#55646f;
text-transform: uppercase;
}
.client-testimonial .client-testimonial-rating{
margin: 0 0 15px 0;
padding: 0;
list-style: none;
}
.client-testimonial .client-testimonial-rating li{
color: #4caf50;
display: inline-block;
}
.client-testimonial .client-testimonial-rating li.fa-star{
color:#4caf50;
}
.owl-theme .owl-controls{
margin-top: 30px;
}
.owl-theme .owl-controls .owl-pagination{
width: 140px;
padding: 10px;
margin: 0 auto;
line-height: 13px;
background: #fe7f8b;
}
.owl-theme .owl-controls .owl-page span{
width: 12px;
height: 12px;
border-radius: 0;
background: transparent;
border: 1px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
border: 4px solid #fff;
}

/* ==========================================================================
       Call To Actione Style Settings
========================================================================== */
.bl-dark {
    background: #35434e;
}
section.call-to-act {
    padding: 0;
}
.gr-dark {
    background: #07b107;
}

.call-to-act-caption {
    padding: 5em 4em;
    text-align: center;
}
.call-to-act-caption h2 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0em;
}
.call-to-act-caption h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
    font-size: 20px;
}
.gr-dark .call-to-act-caption h3 {
    color: #78f32e;
}
.bl-dark .call-to-act-caption h3 {
    color: #7d91a0;
}
.bl-dark a.btn.bat-call-to-act {
    border: 1px solid #475865;
}
.gr-dark a.btn.bat-call-to-act {
    border: 1px solid #39c713;
}
a.btn.bat-call-to-act {
    padding: 13px 56px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 17px;
    background: rgba(2,2,2,0.15);
	transition:all ease-in-out 0.4s;
    color: #ffffff;
    margin-top: 15px;
}
a.btn.bat-call-to-act:hover, a.btn.bat-call-to-act:focus{
background: rgba(255,255,255,0.1);
}

/* ==========================================================================
       Pricing Table Style Settings
========================================================================== */
.pr-table{
text-align:center;
padding:10px 20px 15px 20px;
border:1px solid #c7d1da;
margin-bottom:25px;
}
.pr-plan{
padding:15px 0 5px 0;
}
.pr-plan h4{
color:#35434E;
font-size:22px;
font-family: 'Quicksand', sans-serif;
}
.pr-price{
padding:1em 0 0 0;
}
.pr-price h3{
color:#07b107;
font-size:5.4em;
margin-top:0;
font-family:'Raleway', sans-serif;
}
.pr-price h3 sup{
font-family: 'Quicksand', sans-serif;
color:#35434E;
font-size:25px;
}
.pr-price h3 sub{
font-family: 'Quicksand', sans-serif;
color:#596a77;
font-size:20px;
}
.pr-features ul{
margin:0;
padding:2em 0;
}
.pr-features ul li{
color:#596a77;
padding:5px 0;
line-height:1.8;
font-size:15px;
list-style:none;
font-family: 'Quicksand', sans-serif;
}
.pr-buy-button{
padding:15px 0;
}
.pr-buy-button .pr-btn{
display:block;
border:1px solid #07b107;
font-family: 'Quicksand', sans-serif;
text-transform:uppercase;
padding:13px 0;
color:#07b107;
background:transition;
transition:all ease-in-out 0.4s;
}
.pr-buy-button .pr-btn:hover, .pr-buy-button .pr-btn:focus{
background:#07b107;
color:#ffffff;
text-decoration:none;
}
.pr-buy-button .pr-btn.active{
display:block;
border:1px solid #35434e;
background:#35434e;
font-family: 'Quicksand', sans-serif;
text-transform:uppercase;
padding:13px 0;
color:#ffffff;
transition:all ease-in-out 0.4s;
}
.pr-buy-button .pr-btn.active:hover, .pr-buy-button .pr-btn.active:focus{
background:#07b107;
border-color:#07b107;
color:#ffffff;
text-decoration:none;
}

/* ==========================================================================
       Download app Style Settings
========================================================================== */
.download-app{
background:url(http://via.placeholder.com/1920x850);
background-size:cover;
background-position:center;
background-attachment:fixed;
position:relative;
padding-bottom:0;
overflow:hidden;
}
.download-app:before{
background:#07b107;
position:absolute;
opacity:0.9;
content:"";
display:block;
height:100%;
left:0;
right:0;
top:0;
bottom:0;
}
.download-app .heading{
margin-bottom:0.5em
}
.app-content{
text-align:left;
margin-bottom:6em;
color:#ffffff;
}
.app-content h2{
font-weight:500;
font-family: 'Raleway', sans-serif;;	
}
.app-content h4{
font-weight:400;
font-size:22px;
text-transform: uppercase;
font-family: 'Quicksand', sans-serif;	
}
.app-content p{
font-weight:400;
font-size:16px;
color:#ffffff;
line-height:1.8;
margin-top:20px;
font-family: 'Quicksand', sans-serif;	
}
.app-content a.btn.call-btn i{
margin-right:15px;
font-size:27px;
}
.app-content a.btn.call-btn{
border-radius:50px;
padding: 0.6em 1.4em;
margin-right:20px;
text-transform: uppercase;
background: transparent;
border: 1px dashed #ffffff;
transition:all ease-in-out 0.4s;
color: #ffffff;
margin-bottom:10px;
font-family: 'Quicksand', sans-serif;	
}
.app-content a.btn.call-btn:hover{
background:#ffffff;
color:#07b107;
}
.download-app img {
margin:0 auto;
}


/* ==========================================================================
      Footer Part Style Settings
========================================================================== */
.footer{
background:#35434E;
padding:1.5em 0 0 0;
z-index:-1;
text-align:left;
}
footer .row.no-padding{
margin:0px 10px;
}
.footer-widget {
padding:1.5em 0em 2em 0em;
}
.lg-menu{
border-bottom:1px solid #42525f;
padding:1em 0 1.5em 0;
margin:0;	
}
.lg-menu ul{
margin:0;
padding:0;
float:right;	
}
.lg-menu ul li{
display:inline-block;
list-style:none;
padding-left:20px;
}
.lg-menu ul li a{
text-transform:uppercase;
color:#99abb9;
font-family: 'Quicksand', sans-serif;
}
.lg-menu ul li a:hover, .lg-menu ul li a:focus{
text-decoration:none;
color:#07b107;
}
h3.widgettitle.widget-title {
font-family: 'Quicksand', sans-serif;
font-weight: 500;
text-transform:capitalize;
margin-bottom:5px;
font-size:18px;
color:#ffffff;
}
.textwidget {
color:#99abb9;
opacity: 1;
font-size: 14px;
font-family:  'Quicksand', sans-serif;
font-weight: 400;
line-height: 1.8;
}
.textwidget a {
color:#99abb9;
}
.textwidget p {
margin-bottom: 10px;
color:#99abb9;
}
ul.footer-navigation {
margin: 0;
padding: 0;
}
ul.footer-navigation li {
padding: 0;
line-height: 2.2;
list-style: none;
}
/*------------------------------------
Footer Social Media
------------------------------------------*/
.footer-social{
text-align:left;
padding:0;
margin:0;
margin-bottom:25px;
}
.footer-social li{
list-style:none;
display:inline-block;
padding-right: 7px;
margin-bottom:10px;
}
.footer-social li a {
color:#446d82;
font-family: 'Quicksand', sans-serif;
font-size: 15px;
letter-spacing: 0.5px;
}

.footer-social li a i{
width: 40px;
height: 40px;
border-radius:2%;
line-height: 40px;
background:#40505d;
text-align:center;
color:#99abb9;
box-shadow: 0px 0px 10px 0px rgba(53, 67, 78,0.10);
}

.footer-social li a:hover i{
background:#07b107;
color:#ffffff;
}

/*-----------------------------------
Footer Contact Form Style
--------------------------------------------*/
.footer-form .form-control{
margin-bottom:7px;
width:100%;
height:42px;
border-radius:2px;
background:#3d4c58;
border-color:#42525f;
color:#748898;
}
.footer-form textarea.form-control{
height:70px;
}
.footer-form .btn-primary{
background:#07b107;
border-radius:2px;
color:#ffffff;
padding:10px 40px;
border-color:#10c110;	
}
.footer-form .btn-primary:hover, .footer-form .btn-primary:focus{
border-color:#10c110;
background:#07b107;
}

/*---------------------------------------------
Footer Copyright Style
-----------------------------------------------*/
.row.copyright{
padding:1.4em 0 0 0;
background:#2d3a44;	
text-align:center;
margin:0;
}
.copyright p {
font-size: 15px;
letter-spacing: 0.5px;
color:#99abb9;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em 0;
display: inline-block;
}
.copyright a{
text-decoration:none;
color:#07b107;
}

/* ==========================================================================
      Inner Page Style Settings
========================================================================== */
/*-----------------Common Style Setting-------------------*/
.inner-header-title{
padding:7em 0;
text-align:center;
color:#ffffff;
overflow: visible;
border-bottom:4px solid #07b107;
background:url(http://via.placeholder.com/1920x850);
background-size:cover;
}
.inner-header-title h1 {
font-weight: 600;
}
.inner-header-title.blank{
padding:10em 0;
text-align:center;
color:#ffffff;
overflow: visible;
border-bottom:4px solid #07b107;
background: #53bb13;
background: -moz-radial-gradient(center, ellipse cover, #53bb13 0%, #07b107 100%);
background: -webkit-radial-gradient(center, ellipse cover, #53bb13 0%,#07b107 100%);
background: radial-gradient(ellipse at center, #53bb13 0%,#07b107 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53bb13', endColorstr='#07b107',GradientType=1 );
background-size:cover;
}
.bottom-mrg{
margin-bottom:3em;
}
.detail-desc{
padding:0;
overflow: visible;
}
.detail-desc .form-control::-moz-placeholder{color:#6a7884;opacity:1;}
.detail-desc .form-control:-ms-input-placeholder{color:#6a7884;}
.detail-desc .form-control::-webkit-input-placeholder{color:#6a7884;}

.container.white-shadow{
-webkit-transform: translateY(-80px);
-o-transform: translateY(-80px);
transform: translateY(-80px);
background:#ffffff;
border-bottom:3px solid #07b107;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.detail-status {
    position: absolute;
    right: 15px;
    top: 15px;
}
.detail-status span {
    color: #07b107;
    background: rgba(7, 177, 7,0.2);
	font-family: 'Quicksand', sans-serif;
	text-transform:capitalize;
    padding: 5px 25px;
    border-radius:2px;
}
.detail-pic{
display: block;
width:140px;
background:#ffffff;
border:1px solid #07b107;
height:140px;
border-radius:50%;
margin:0;
padding: 9px;
margin:0 auto;
position:relative;
-webkit-transform: translateY(-50px);
-o-transform: translateY(-50px);
transform: translateY(-50px);
}

.detail-pic img {
width: 120px;
height:120px;
margin:auto;
border-radius:50%;
}
a.detail-edit {
position: absolute;
left: 44%;
bottom:-12px;
}
a.detail-edit i {
width: 30px;
height: 30px;
position: relative;
background: #07b107;
border-radius: 50%;
line-height: 30px;
text-align: center;
color: #ffffff;
}

/*------ Inner Dropdown Button Style-----*/
button.btn.btn-default.btn-xs.dropdown-toggle {
    background: transparent;
    border: none;
    box-shadow: none;
}
button.btn.btn-default.btn-xs.dropdown-toggle i {
font-size: 26px;
color:#636d75;
}
.action-btn .dropdown-menu>li>a {
padding: 10px 15px;
color:#636d75;
font-size: 15px;
font-family: 'Quicksand', sans-serif;
}
.action-btn .dropdown-menu>li>a:hover, .action-btn .dropdown-menu>li>a:focus{
background:#07b107;
color:#ffffff;
}
/*------------- Search Filter-----------*/
.wrap-search-filter{
    padding:0em 0 1em 0;
    background: #ffffff;
	display: inline-block;
    width: 100%;
}
/* ==========================================================================
      Browse Job Style Settings
========================================================================== */
.brows-job-category{
position:relative;
}
.brows-job-category .no-padding{
margin:0;
margin-bottom:30px;
}
.brows-job-category h2{
color:#5a6f7c;
font-size:25px;
}
.brows-job-list {
display: table;
width: 100%;
clear: both;
padding: 15px 0;
margin-bottom:15px;
transition: transform 0.30s ease;
border: 1px solid #e3e9ef;
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.05);
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.05);
}
.brows-job-list:hover{
border-left:4px solid #07b107;
box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.05);
-webkit-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.05);
}
.brows-job-company-img {
width: 75px;
margin: 0 auto;
margin:10px auto;
height: 75px;
display:inline-block;
background: #f4f5f7;
vertical-align: middle;
border-radius: 50%;
line-height: 75px;
}
.brows-job-company-img img{
margin: 0 auto;
vertical-align: middle;
display:inline-block;
}
.brows-job-position h3 {
color:#5b6d77;
font-size: 25px;
padding: 0;
}
.brows-job-position p span{
font-size:18px;
color:#5a6f7c;
margin-top:12px;
margin-right:20px;
}
.brows-job-position p .brows-job-sallery{
margin-right:0;
}
.brows-job-position p .brows-job-sallery i{
margin-right:10px;
}
.brows-job-location {
margin-top: 23px;
}
.brows-job-location p{
font-size:18px;
color:#5a6f7c;
}
.brows-job-location p i{
font-size:16px;
margin-right:10px;
}
.brows-job-type{
margin-top: 23px;
}
.brows-job-type span{
padding:6px 20px;
color:#ffffff;
text-transform:uppercase;
}
.full-time {
background: #03a504;
}
.part-time {
background: #f6931e;
}
.enternship {
background: #d20001;
}
.freelanc {
background: #26a9e1;
}

/* ==========================================================================
      Browse Company Style Settings
========================================================================== */
.brows-company{
padding:15px;
background:#ffffff;
border-radius:4px;
overflow:hidden;
margin-bottom:30px;
border: 1px solid #e3e9ef;
transition:all ease-in-out 0.4s;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
}
.brows-company:hover{
border-left:4px solid #07b107;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.brows-company-name, .brows-company-location, .brows-company-position {
margin-top: 1.4em;
}
.brows-company .brows-company-pic{
display:table;
position:relative;
width:90px;
height:90px;
border-radius:50%;
margin:1px;
}
.brows-company .brows-company-pic img {
width:80px;
height:80px;
margin:0 auto;
}
.brows-company h4{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#35434E;
font-size:22px;
margin-top:0;
}
.brows-company span.brows-company-tagline{
font-family: 'Quicksand', sans-serif;
display:block;
color:#636d75;
}
.brows-company .brows-company-location p{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#636d75;
font-size:16px;
}
.brows-company .brows-company-position p{
text-align:right;
color:#07b107;
}

/* ==========================================================================
      Browse Resume Style Settings
========================================================================== */
.brows-resume{
padding:15px;
background:#ffffff;
border-radius:4px;
overflow:hidden;
margin-bottom:30px;
border: 1px solid #e3e9ef;
border-left:1px solid #e3e9ef;
transition:all ease-in-out 0.4s;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
}
.brows-resume:hover{
border-left:4px solid #07b107;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.1);
}
.brows-resume-name, .brows-resume-location, .browse-resume-rate {
margin-top: 1.4em;
}
.brows-resume .brows-resume-pic{
display:table;
position:relative;
width:100px;
height:100px;
border-radius:50%;
overflow:hidden;
margin:1px;
}
.brows-resume .brows-resume-pic img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.brows-resume h4{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#35434E;
font-size:22px;
margin-top:0;
}
.brows-resume span.brows-resume-designation{
font-family: 'Quicksand', sans-serif;
text-transform:uppercase;
display:block;
color:#07b107;
}
.brows-resume .brows-resume-location p{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#636d75;
font-size:16px;
}
.brows-resume .browse-resume-rate span{
font-family: 'Quicksand', sans-serif;
text-transform:capitalize;
font-weight:400;
color:#636d75;
text-align:right;
display: block;
font-size:16px;
}
.brows-resume .browse-resume-rate span i{
font-size:18px;
color:#07b107;
margin-right:7px;
}
.brows-resume .browse-resume-exp span{
float:right;
background:#07b107;
padding:2px 7px;
font-family: 'Quicksand', sans-serif;
border-radius:2px;
color:#ffffff;
min-width: 150px;
text-align: center;
}
.row.extra-mrg.row-skill {
    padding: 14px 0 2px 0;
    border-top: 1px solid #f1f3f4;
    margin-top: 20px;
}
.browse-resume-skills .br-resume span {
    padding: 4px 8px;
    background: rgba(137,153,167,0.12);
    text-transform: uppercase;
    margin-right: 7px;
	font-size:12px;
	margin-bottom:5px;
    border-radius: 2px;
    color: #35434e;
}

/* ==========================================================================
      Manage Candidate Style Settings
========================================================================== */
.manage-cndt{
background:#ffffff;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
border-radius:4px;
padding:0px;
overflow:hidden;
position:relative;
margin-bottom:30px;
}
.manage-cndt .cndt-status{
padding:4px 25px;
display:inline-block;
position: absolute;
left: 15px;
top: 15px;
text-align: left;
border-radius:4px;
font-weight:500;
text-transform:capitalize;
font-family: 'Quicksand', sans-serif;
}
.manage-cndt .cndt-status.pending{
background:rgba(255,144,7,0.2);
color:#ffc107;
}
.manage-cndt .cndt-status.available{
background:rgba(7,177,7,0.2);
color:#07b107;
}
.manage-cndt .cndt-pic{
display:block;
width:120px;
height:120px;
border-radius:50%;
overflow:hidden;
margin:15px auto;
}
.manage-cndt .cndt-caption{
text-align:center;
padding:15px;
}
.manage-cndt .cndt-caption h4{
text-transform:capitalize;
color:#35434e;
margin-bottom:5px;
}
.manage-cndt .cndt-caption span{
font-family: 'Quicksand', sans-serif;
text-transform:uppercase;
color:#07b107;
}
.manage-cndt .cndt-caption p{
color:#5f707d;
margin-bottom:2.5em;
font-size: 15px;
margin-top: 10px;
font-family:'Raleway', sans-serif;
}
.manage-cndt .cndt-profile-btn{
padding:15px 0;
display:block;
border-top:1px solid #eef5fb;
text-align:center;
font-size:16px;
text-transform:capitalize;
font-family: 'Quicksand', sans-serif;
font-weight:500;
color:#7d8e9c;
}
.manage-cndt:hover .cndt-profile-btn, .manage-cndt:focus .cndt-profile-btn{
background:#07b107;
color:#ffffff;
text-decoration:none;
}
.manage-cndt .cndt-profile-btn:hover, .manage-cndt .cndt-profile-btn:focus{
background:#07b107;
color:#ffffff;
text-decoration:none;
}

/* ==========================================================================
      Manage Employee Style Settings
========================================================================== */
.jn-employee{
padding:15px;
background:#ffffff;
border-radius:4px;
overflow:hidden;
margin-bottom:30px;
border-bottom:3px solid #ffffff;
transition:all ease-in-out 0.4s;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
}
.jn-employee:hover, .jn-employee:focus{
border-color:#07b107;
}
.mail-form i{
width:42px;
height:42px;
line-height:42px;
color:#07b107;
text-align:center;
border-radius:50%;
background:rgba(7,177,7,0.1);
}
.employee-caption{
text-align:center;
padding:1em 0.8em;
}
.employee-caption-pic{
display:table;
position:relative;
width:120px;
height:120px;
border-radius:50%;
overflow:hidden;
margin:15px auto;
}
.employee-caption h4{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#35434E;
font-size:22px;
}
.employee-caption span.designation{
font-family: 'Quicksand', sans-serif;
color:#636d75;
}
.employee-social{
margin:15px 0;
padding:0;
}
.employee-social li{
text-align:center;
display:inline-block;
list-style:none;
padding:5px 7px;
}
.employee-social li i{
width:37px;
height:37px;
line-height:37px;
border-radius:50%;
font-size:18px;
color:#636d75;
transition:all ease-in-out 0.4s;
background:rgba(137,153,167,0.1);
}
.employee-social li a:hover i, .employee-social li a:focus i{
color:#ffffff;
background:#07b107;
}

/* ==========================================================================
      Manage Company Style Settings
========================================================================== */
.mng-company{
padding:15px;
background:#ffffff;
border-radius:4px;
overflow:hidden;
border-left:3px solid #ffffff;
margin-bottom:30px;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
}
.mng-company:hover, .mng-company:focus{
border-color:#07b107;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
}
.mng-company-name, .mng-company-location, .mng-company-action {
margin-top: 1.4em;
}
.mng-company .mng-company-pic{
display:table;
position:relative;
width:90px;
height:90px;
border-radius:50%;
margin:1px;
}
.mng-company .mng-company-pic img{
margin:0 auto;
display:table;
max-width:85px;
}
.mng-company h4{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#35434E;
font-size:22px;
margin-top:0;
}
.mng-company span.cmp-time{
font-family: 'Quicksand', sans-serif;
color:#636d75;
}
.mng-company .mng-company-location p{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#636d75;
font-size:16px;
}
.mng-company .mng-company-location i{
font-size:20px;
}
.mng-company .mng-company-action i{
font-size:20px;
padding:0 5px;
}
.mng-company .mng-company-action i.fa-edit{
color:#07b107;
}
.mng-company .mng-company-action i.fa-trash-o{
color:#ff9800;
}

/* ==========================================================================
      Manage Resume Style Settings
========================================================================== */
.mng-resume{
padding:15px;
background:#ffffff;
border-radius:4px;
overflow:hidden;
margin-bottom:30px;
border-left:3px solid #ffffff;
transition:all ease-in-out 0.4s;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.01);
}
.mng-resume:hover, .mng-resume:focus{
border-color:#07b107;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,0.05);
}
.mng-resume-name, .per-hour-rate, .mng-employee-skill, .mng-resume-action {
margin-top: 1.4em;
}
.mng-resume .mng-resume-pic{
display:table;
position:relative;
width:100px;
height:100px;
border-radius:50%;
overflow:hidden;
margin:1px;
}
.mng-resume .mng-resume-pic img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.mng-resume h4{
font-family: 'Raleway', sans-serif;
margin-bottom:5px;
font-weight:400;
color:#35434E;
font-size:20px;
margin-top:0;
}
.mng-resume h4 span.cand-designation{
font-family: 'Quicksand', sans-serif;
font-size:15px;
color:#07b107;
}
.per-hour-rate p {
    font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
.per-hour-rate p  i{
margin-right:7px;
}
.mng-employee-skill span {
    padding:1.5px 8px;
    background: rgba(137,153,167,0.12);
    text-transform: uppercase;
    margin-right: 7px;
	margin-bottom:5px;
    border-radius: 2px;
    color: #35434e;
	font-size:13px;
	display: inline-block;
}
.mng-resume .mng-resume-location i{
font-size:20px;
}
.mng-resume .mng-resume-action i{
font-size:20px;
padding:0 5px;
}
.mng-resume .mng-resume-action i.fa-edit{
color:#07b107;
}
.mng-resume .mng-resume-action i.fa-trash-o{
color:#ff9800;
}

/* ==========================================================================
      Manage Resume 2 Style Settings
========================================================================== */
.manage-resume{
background:#ffffff;
}

.manage-resume-box{
background:#ffffff;
border-radius:4px;
display:table;
width: 100%;
margin-bottom:30px;
padding:15px 20px;
border-radius: 4px;
overflow: hidden;
margin-bottom: 30px;
border-left: 4px solid #ffffff;
transition: all ease-in-out 0.4s;
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.01);
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.01);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.01);
}
.manage-resume-box:hover, .manage-resume-box:focus{
border-color:#07b107;
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.05);
-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.05);
}
.manage-resume-box:hover, .manage-resume-box:focus{
border-left:3px solid #07b107;
}
.manage-resume-box:hover i, .manage-resume-box:focus i{
color:#07b107;
}
.manage-resume-picbox{
width:80px;
height:80px;
border-radius:50%;
overflow:hidden;
}
.manage-resume-picbox img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.manage-resume-box h4{
margin-bottom:5px;
color:#35434E;
font-family:'Raleway', sans-serif;
}
.manage-resume-box span{
font-family: 'Quicksand', sans-serif;
color:#636d75;
}
.manage-resume-box a i{
font-size:20px;
color:#636d75;
margin-top:1.4em;
}

/* ==========================================================================
Job, Resume and Company Detail Page Style 
==========================================================================*/
.detail-desc-caption h4{
color:#35434E;
font-size:22px;
margin-bottom:5px;
font-family: 'Raleway', sans-serif;
}
.detail-desc-caption h2 {
    margin-bottom: 0;
}
.detail-desc-caption span.designation{
color:#07b107;
font-family: 'Quicksand', sans-serif;
}

.detail-desc-caption p {
color: #707c88;
font-size: 16px;
line-height: 1.8;
margin-top:5px;
margin-bottom:15px;
font-weight:400;
font-family: 'Quicksand', sans-serif;
}
.detail-desc-skill span {
padding: 2px 8px;
background: rgba(137,153,167,0.12);
text-transform: uppercase;
margin-right: 7px;
border-radius: 2px;
color: #35434e;
margin-bottom: 5px;
display: inline-block;
}
.detail-desc-caption ul {
    padding: 0;
    margin: 0;
}
.detail-desc-caption ul li i{
margin-right:10px;
font-size:16px;
color:rgba(137,153,167,1);
}
.detail-desc-caption ul li{
padding-bottom:10px;
line-height:1.5;
font-size:16px;
color: #707c88;
list-style:none;
display:block;
font-family: 'Quicksand', sans-serif;
}
.get-touch h4{
color:#35434E;
font-size:22px;
margin-bottom:15px;
font-family: 'Raleway', sans-serif;
}
.get-touch ul{
padding:0;
margin:0;
}
.get-touch ul li i{
margin-right:10px;
font-size:16px;
color:rgba(137,153,167,1);
}
.get-touch ul li{
padding-bottom:10px;
line-height:1.5;
font-size:16px;
color: #707c88;
list-style:none;
font-family: 'Quicksand', sans-serif;
}
.detail.pannel-footer {
padding: 10px 0 10px 0;
display: table;
width: 100%;
}
.row.no-padd {
margin: 0 -15px;
padding: 0px 15px;
border-top: 1px solid #ccddea;
}
.detail-pannel-footer-btn a.footer-btn{
padding:12px 40px;
margin-left:15px;
color:#ffffff;
font-size:16px;
border-radius:2px;
margin-bottom: 10px;
font-family: 'Quicksand', sans-serif;
display:inline-block;
text-transform:capitalize;
}
.detail-pannel-footer-btn a.footer-btn.grn-btn{
background:#07b107;
}
.detail-pannel-footer-btn a.footer-btn.blu-btn{
background:#03a9f4;
}
.detail-pannel-footer-btn a:hover, .detail-pannel-footer-btn a:focus{
text-decoration:none;
color:#ffffff;
}
.fotter-pannel-status{
color: #707c88;
font-size: 16px;
line-height: 1.8;
margin-top:5px;
margin-bottom:15px;
font-weight:400;
text-transform:capitalize;
font-family: 'Quicksand', sans-serif;
}

.fotter-pannel-status>span{
color:#07b107;
}
/*==========================================================================
Add Company, Resume and Job Page Style Settings
==========================================================================*/

.add-feild .input-group{
width:100%;
}
.add-feild .form-control{
height:52px;
width:100%;
color: #707c88;
font-weight:400;
font-size: 16px;
margin-bottom:15px;
font-family: 'Quicksand', sans-serif;
border-radius:2px;
box-shadow:none;
border:1px solid #ccddea;
}
.add-feild textarea.form-control{
border-radius:4px;
height:100px;
padding:15px;
}
.add-feild .form-control:hover, .add-feild .form-control:focus{
border-color:#07b107;
box-shadow:0px 0px 10px 2px rgba(7,177,7,0.1);
-webkit-box-shadow:0px 0px 10px 2px rgba(7,177,7,0.1);
-moz-box-shadow:0px 0px 10px 2px rgba(7,177,7,0.1);
}
.detail-pannel-footer-btn a.footer-btn.choose-cover{
background:#07b107;
}
.full-detail .input-group {
    margin-bottom: 10px;
	width: 100%;
}
section.full-detail {
    padding: 0em 0 3em 0;
}
section.full-detail .form-control::-moz-placeholder{color:#6a7884;opacity:1;}
section.full-detail .form-control:-ms-input-placeholder{color:#6a7884;}
section.full-detail .form-control::-webkit-input-placeholder{color:#6a7884;}
.full-detail .input-group-addon {
    color: #ffffff;
    background: #07b107;
    width:45px;
    border-radius: 0;
    border-color: #13c313;
    font-size: 18px;
}
.btn-primary.small-btn{
text-transform:uppercase;
max-width:280px;
display:table;
padding:20px 0;
margin:20px auto;
height: auto;
border-radius: 50px;
}
.btn-primary.small-btn:hover, .btn-primary.small-btn:focus{
text-transform:uppercase;
max-width:280px;
display:table;
padding:20px 0;
margin:20px auto;
height: auto;
border-radius: 50px;
}
button.btn.remove-field {
    background:#03a9f4;
    margin: 2em auto;
    display:inline-block;
    color: #ffffff;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 15px 40px;
    min-width: 180px;
	border:none;
	float:right;
	margin-right:15px;
}

button.add-field {
    background: #07b107;
    margin: 2em auto;
	border:none;
	margin-left:15px;
    display: inline-block;
    color: #ffffff;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 15px 40px;
    min-width: 180px;
}
/*--------Bootstrap Editor ---------*/
.wysihtml5-toolbar a.btn {
    background: #e8edf1;
    color: #35434e;
    margin-right: 5px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.icon-indent-left {
    background-position: -384px -48px;
}
.icon-share {
    background-position: -120px -72px;
}
.icon-indent-right {
    background-position: -408px -48px;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-list {
    background-position: -360px -48px;
}
.form-control.textarea{
height:180px;
border-radius:4px;
}
/*-------------file field------------*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 120px;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    height: 120px;
    background: #3db810;
    border-radius: 50%;
}
.inputfile + label i {
    line-height: 100px;
    text-align: center;
    font-size: 55px;
    color: #ffffff;
    display: block;
    background: transparent;
    border-radius: 50%;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline:none;
    outline:none;
}

.inputupload-pic + label {
    color: #d3394c;
}

.inputupload-pic + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputupload-pic:focus + label,
.inputupload-pic.has-focus + label,
.inputupload-pic + label:hover {
    border-color: #722040;
}

.inputupload-pic + label span,
.inputupload-pic + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputupload-pic + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputupload-pic + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputupload-pic:focus + label strong,
.inputupload-pic.has-focus + label strong,
.inputupload-pic + label:hover strong {
    background-color: #722040;
}

/*==========================================================================
     Company detail, Job Detail and Resume Detail Page Style Settings
==========================================================================*/

h2.detail-title {
    font-size: 25px;
    background:rgba(232, 237, 241,0.5);
    padding: 3px 20px;
    margin-bottom: 16px;
	line-height: 1.6;
    border-radius: 2px;
    border-left: 3px solid #07b107;
}
.full-detail-description p {
    margin-bottom: 20px;
    line-height: 1.9;
    font-size: 15px;
}
ul.detail-list li {
    padding: 0;
    margin-bottom: 10px;
    line-height: 1.9;
	font-size: 17px;
	color:#707c88;
    list-style: none;
}

ul.detail-list li:before {
content:"\f101";
position:relative;
font-size:17px;
color:#07b107;
left:-12px;
font-family:fontawesome;
}
ul.detail-footer-social {
    padding: 0;
    margin: 0;
}
ul.detail-footer-social li {
    display: inline-block;
    padding-right: 10px;
}
ul.detail-footer-social li a i {
    width: 42px;
    height: 42px;
    background: #f1f3f4;
    line-height: 42px;
    text-align: center;
    font-size: 17px;
    border-radius: 2px;
	margin-bottom: 10px;
    transition: all ease-in-out 0.4s;
}
ul.detail-footer-social li a i:hover{
background:#07b107;
color:#ffffff;
}


.third-progress .progressbar-title{
    font-size: 14px;
    color: #848484;
    text-transform: capitalize;
}
.third-progress .progress{
    height: 4px;
    overflow: visible;
    background: #f0f0f0;
    margin-bottom: 40px;
}
.third-progress .progress .progress-bar{
    position: relative;
    animation: animate-positive 2s;
}
.third-progress .progress .progress-icon{
    width: 32px;
    height: 32px;
    line-height: 26px;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: -15px;
    right: 0;
    background: #fff;
    border-width: 3px;
    border-style: solid;
}
.third-progress .progress-value{
    font-size: 14px;
    color: #848484;
    position: absolute;
    top: 16px;
    right: 0;
}
@-webkit-keyframes animate-positive {
    0% { width: 0%; }
}
@keyframes animate-positive {
    0% { width: 0%; }
}

/*==========================================================================
     Accordion  Page Style Settings
==========================================================================*/
/*---------simple Accordian style-----*/
.panel-body .simple-tab p{
color:#707c88;
font-family:'Quicksand', sans-serif;
font-size:15.4px;
text-align:justify;
line-height:1.8;
}
#accordion  .panel{
    border:none;
    outline:none;
}
#accordion  .panel-heading{
    padding:0;
}
#accordion .panel-heading > .panel-title{
    position: relative;
}
#accordion .panel-heading > .panel-title > a{
    display: block;
    font-size:14px;
    padding:18px 35px 18px 15px;
    text-transform:uppercase;
    background:#07b107;
    color:#fff;
    transition:all 0.2s linear 0s;
}
#accordion .panel-title > a.collapsed {
    background: #e7ecea;
    color: #707c88;
}
#accordion .panel-title > a.collapsed:hover{
    color:#07b107;
}
.panel-body p{
color: #707c88;
font-family:'Quicksand', sans-serif;
font-size: 14px;
line-height: 30px;
}
#accordion .panel-title > a:after,
#accordion .panel-title > a.collapsed:after{
    content: "\f139";
    font-family: FontAwesome;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    right:12px;
}
#accordion .panel-title > a.collapsed:after{
    content: "\f13a";
    color:#808080;
}
#accordion .panel-body{
    border:none;
}

/*------------style for accordian three --------*/
.panel-body .accordian-style-three p{
color:#707c88;
font-size:15.4px;
text-align:justify;
font-family:'Quicksand', sans-serif;
line-height:1.8;
}
.accordian-style-three .panel-title > a{
    position: relative;
    color:#dc005a;
    display: block;
    padding-right: 70px;
}
#accordion3  .panel-heading{
    padding:0px;
}
#accordion3 .panel-heading > .panel-title{
    position: relative;
	
}
#accordion3 .panel-heading > .panel-title > a{
	padding:20px;
	position: relative;
    text-transform:uppercase;
    background:#07b107;
    color:#fff;
    transition:all 0.2s linear 0s;
}
#accordion3 .panel-title > a.collapsed {
    background: #35434e;
    color: #707c88;
}
#accordion3 .panel-title > a.collapsed:hover{
    color:#07b107;
}
.accordian-style-three #accordion3 .panel-title > a:after,
.accordian-style-three #accordion3 .panel-title > a.collapsed:after{
    content: "\f068";
    font-family: FontAwesome;
    height: 28px;
    width: 28px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.07);
    color:#ffffff;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    right:20px;
    top:17px;
    text-align: center;
}
.accordian-style-three #accordion3 .panel-title > a.collapsed:after{
    content: "\f067";
    background:#636d75;
}
.accordian-style-three #accordion3 .panel-title > a.collapsed{
    color:#8699a7;
}
.accordian-style-three #accordion3 .panel-title > a:hover,
.accordian-style-three #accordion3 .panel-title > a:focus{
    text-decoration: none;
    outline: none;
}

/*---------------------------------------------
Tab Page Style Settings
----------------------------------------------*/
/*----------------Simple Tab style----*/
.tool-tab .nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 0;
}
.tab-pane p{
color: #707c88;
font-size: 14px;
font-family:'Quicksand', sans-serif;
line-height: 30px;
}
.nav.simple.nav-tabs a{
color:#707c88;
background:#ffffff;
padding:10px 20px;
border:1px solid #e7ecea;
}
.nav.simple.nav-tabs li.active a{
background:#07b107;
color:#ffffff;
}
/*----------------Icon Tab style----*/
.tab .nav-tabs{
    background: #ffffff;
    padding: 5px 0;
}
.tab .nav-tabs li{
    margin-bottom: 0;
    margin-right: 0;
    float: none;
    display: inline-block;
}
.tab .nav-tabs li a{
    font-size: 14px;
    color: #07b107;
    background: #fafbfb;
    margin-right: 5px;
    padding: 10px 25px;
    border-radius: 0;
    text-transform: uppercase;
	border:1px solid #e7ecea;
	transition:ease-in-out 0.5s;
}
.tab .nav-tabs li a:hover{
    color: #ffffff;
    border-color: transparent;
	background: #07b107;
}
.tab .nav-tabs li a i{
    font-size: 20px;
    margin-right: 10px;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover{
    background: #07b107;
    color: #fff;
    border: 1px solid transparent;
}
.tab .tab-content{
    font-size: 14px;
    color: #707c88;
	font-family:'Quicksand', sans-serif;
    line-height: 30px;
    background: #ffffff;
}
@media only screen and (max-width: 990px){
    .tab .nav-tabs li a{ padding: 15px 10px; }
    .tab .tab-content{ padding: 20px 25px; }
}
@media only screen and (max-width: 767px){
    .tab .nav-tabs li a{ padding: 15px 5px; }
}
@media only screen and (max-width: 480px){
    .tab .nav-tabs li{ width:100%; }
}

/*==================================================
Login and Signup Popup
=======================================================*/

body.modal-open{
padding-right:0 !important;
}
.modal-open {
overflow: initial;
}
.center{
text-align:center;
}
a.subs-popup {
width: 55px;
height: 55px;
display: inline-block;
color: #ffffff;
font-size: 20px;
border-radius: 50%;
line-height: 55px;
position: absolute;
top: 20px;
right: 20px;
background:#07b107;
-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.22);
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.22);
}
@-moz-keyframes circlebeat {
0% {
-moz-transform: scale(0);
opacity: 0.0;
}
25% {
-moz-transform: scale(0.1);
opacity: 0.1;
}
50% {
-moz-transform: scale(0.5);
opacity: 0.3;
}
75% {
-moz-transform: scale(0.8);
opacity: 0.5;
}
100% {
-moz-transform: scale(1);
opacity: 0.0;
}
}
@-webkit-keyframes circlebeat {
0% {
-webkit-transform: scale(0);
opacity: 0.0;
}
25% {
-webkit-transform: scale(0.1);
opacity: 0.1;
}
50% {
-webkit-transform: scale(0.5);
opacity: 0.3;
}
75% {
-webkit-transform: scale(0.8);
opacity: 0.5;
}
100% {
-webkit-transform: scale(1);
opacity: 0.0;
}
}
.subs-popup .circlebeat {
position: absolute;
top: -10px;
right: -10px;
height: 75px;
width: 75px;
z-index: 10;
border: 10px solid #ef0b13;
border-radius: 70px;
-moz-animation: circlebeat 1s ease-out;
-moz-animation-iteration-count: infinite;
-o-animation: circlebeat 1s ease-out;
-o-animation-iteration-count: infinite;
-webkit-animation: circlebeat 1s ease-out;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
.tab-pane img {
margin: 1em auto 2em auto;
display: block;
max-width: 70%;
}
button.close {
-webkit-appearance: none;
position: absolute;
right:10px;
top:10px;
z-index: +999;
opacity: 1;
width: 30px;
height: 30px;
border-radius: 50%;
line-height: 0;
}
.close:hover, .close:focus {
color: #ffffff;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=50);
opacity: 1;
}
form{
display: inline-block;
width:100%;
}
.modal textarea.form-control{
height:90px;
padding:15px;
}
.modal .form-control{
height:52px;
padding:0 15px;
border:1px solid #d7dfea;
color:#727272;
width:100%;
margin:0 auto;
margin-bottom:12px;
font-size:15px;
border-radius:2px;
box-shadow:none;
}
.form-group{
width:100%;
}
.modal .form-control::-moz-placeholder{color:#6a7884;opacity:1}
.modal .form-control:-ms-input-placeholder{color:#6a7884}
.modal .form-control::-webkit-input-placeholder{color:#6a7884; font-weight:400;text-shadow:none;}
.modal-content{
padding:0px 0px 35px 00px;
}
.modal h4{
color: #16162c;
font-family: 'ralewaylight';
font-size:30px;
font-weight:normal;
}
.modal .submit-btn {
border: 1px dashed #0e9cf3;
padding: 14px 0;
width:240px;
text-transform: uppercase;
color: #ffffff;
border-radius: 1px;
font-size: 18px;
transition: ease-in-out 0.6s;
display: inline-block;
margin-top:1em;
background:#07b107;
}
.modal .submit-btn:hover{
color:#ffffff;
background:#07b107;
}
.success-message {
text-align: center;
color: green;
}
.error-message {
text-align: center;
color:red;
}
.modal-body {
position: relative;
padding: 0px;
}
.modal-body .nav-tabs>li {
float: left;
margin-bottom: -1px;
width: 50%;
text-align: center;
}
.modal-body .nav>li>a {
position: relative;
display: block;
color:#95a2a7;
padding: 18px 15px;
background:#35434e;
border-radius:0;
margin:0;
}
.modal-body .nav>li.active>a{
background:#07b107;
text-transform:uppercase;
color:#ffffff;
}
.modal-body .nav>li>a:hover, .modal-body .nav>li>a:focus{
background:#07b107;
border:1px solid #0e9cf3;
color:#ffffff;
}
.tab-content {
padding: 2em 0 3em 0;
}
.modal-body .nav-tabs{
margin-top:0;
}
.modal-body .tab .nav-tabs{
padding:0;
}
.modal-body  .tab .nav-tabs li a{
border:none;
}
.modal-body .tab .nav-tabs li.active a, .modal-body .tab .nav-tabs li.active a:hover{
border:none;
}

/*====================================================
Contact us Page Style Settings
=======================================================*/
.contact-box i {
    background: #f3f6f8;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    display: table;
    margin: 20px auto;
    border-radius: 4px;
	color: #07b107;
}
.contact-page h2, .contact-form h2{
text-align:center;
margin-bottom:25px;
margin-top:0;
}
.contact-box {
    line-height: 1.8;
    text-align: center;
}
.contact-box p{
font-size:16px;
font-family:'Quicksand', sans-serif;
}
.contact-form{
padding-top:2em;
}
.contact-form textarea.form-control{
height:180px;
}
.contact-form .btn-primary{
max-width:250px;
padding:15px 0;
height:auto;
margin:15px auto;
display:block;
border:none;
border-radius:50px;
}
.contact-form .btn-primary:hover, .contact-form .btn-primary:focus{
max-width:250px;
padding:15px 0;
height:auto;
margin:15px auto;
display:block;
border:none;
border-radius:50px;
}


/* ==========================================================================
      Blog Page Page Design
========================================================================== */
.short-blog {
    padding: 0;
	margin-bottom:2em;
    border: 1px solid #d6e3ec;
}
figure.img-holder {
    position: relative;
}
.blog-post-date {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #07b107;
    padding: 5px 30px;
    border-radius: 2px;
    color: #ffffff;
    text-transform: capitalize;
}
.blog-content {
    padding: 40px 25px;
	font-size:15px;
	line-height:1.8;
	color:#636d75;
	font-family: 'Quicksand', sans-serif;
}
.blog-content h2{
font-family: 'Raleway', sans-serif;
color:#35434e;
}
.blog-content h2:hover, .blog-content h2:focus{
color:#07b107;
}
.post-meta span.author, .post-meta span.category a {
    color: #07b107;
}
.blog-text p {
	color:#636d75;
	font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 1.8;
}
.post-meta {
    font-size: 18px;
    font-family: initial;
}
/*--------------Sidebar Star---------*/
.search-form button.btn.btn-default {
    background: #07b107;
    color: #ffffff;
    border: 1px solid #07b107;
    height: 46px;
}

.sidebar-widget {
    padding: 30px 0;
}
.sidebar-widget h4 {
    font-size: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: #f1f6fb;
    padding: 12px 15px;
}
ul.sidebar-list {
    padding: 0;
    margin: 0;
}
ul.sidebar-list li {
    list-style: none;
    line-height: 1.8;
    padding: 10px 0;
    border-bottom: 1px solid #e0ecf5;
}
ul.sidebar-list li a {
	font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #788a9a;
}
ul.sidebar-list li a span {
    float: right;
    color: #07b107;
}
.blog-item {
    margin-bottom: 15px;
	padding-bottom: 15px;
    border-bottom: 1px solid #e0ecf5;
    display: block;
    width: 100%;
}
.blog-item .post-thumb {
    width: 70px;
    height: 70px;
    float: left;
}
.blog-item h4 {
    text-transform: capitalize;
    color:#707c88;
    margin-left: 78px;
    line-height: 1.4;
    margin-top: 0;
    padding-top: 0;
    font-size: 15px;
	background:transparent;
}
.post-info {
    color: #07b107;
    margin-left: 80px;
}

/* ==========================================================================
      Blog Detail Page Style Settings
========================================================================== */
.full-blog{
border:1px solid 	#e0ecf5;
}
.full-blog .blog-content {
    padding: 40px 25px 20px 25px;
}
.blog-footer-social {
    padding: 10px 0 0 0;
    border-top: 1px solid #e0ecf5;
    margin-top: 20px;
}
ul.list-inline.social {
    padding: 0;
    margin: 0;
    float: none;
    display: inline-block;
}
ul.list-inline.social li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
ul.list-inline.social li i {
    width: 46px;
    height: 46px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #e0ecf5;
    color: #71818e;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
    transition:all ease-in-out 0.4s;
}
ul.list-inline.social li i:hover, ul.list-inline.social li i:focus{
background:#07b107;
color:#ffffff;
}

/* ==========================================================================
      Blog Comment Style Settings
========================================================================== */
.single-comment {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 32px;
    padding-left: 80px;
}
.single-comment .img-holder {
    left: 0;
	border-radius: 50%;
    overflow: hidden;
	width:70px;
    height:70px;
    position: absolute;
    top: 0;
}
.single-comment .text-holder {
    border: 1px solid #f4f4f4;
    padding: 20px;
}
.single-comment .text-holder .top {
    margin: 0 0 8px;
    overflow: hidden;
}
.rating.pull-right li {
    list-style: none;
    display: inline-block;
}
.rating.pull-right li i {
    font-size: 13px;
    margin-right: 3px;
    color: #636d75;
}
.rating.pull-right li i.active {
    color: #07b107;
}
.text-holder p {
    font-size: 15px;
    line-height: 1.8;
	color:#636d75;
	font-family: 'Quicksand', sans-serif;
}

.comments-form textarea.form-control{
height:150px;
}
.comments-form form{
margin:10px -15px;
}
.comments-form button.thm-btn.btn-comment {
    padding: 12px 20px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #07b107;
    background: #07b107;
    min-width: 210px;
    display: table;
    margin: 10px 15px;
}
.comments-form button.thm-btn.btn-comment:hover, .comments-form button.thm-btn.btn-comment:focus {
    padding: 12px 20px;
    text-transform: uppercase;
    color: #07b107;
    border: 2px solid #07b107;
    background:transparent;
    min-width: 210px;
    display: table;
    margin: 10px 15px;
}

/* ==========================================================================
      Login Signup And Forget password page style settings
========================================================================== */
body.simple-bg-screen {
    background:url(http://via.placeholder.com/1920x850);
	 position: initial;
}
body.simple-bg-screen:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #ffffff;
    height: 100%;
    opacity: 0.8;
}
.login-screen, .signup-screen, .lost-ps-screen {
    position: relative;
    max-width: 450px;
    margin:12% auto 0 auto;
}
section.login-screen-sec, section.signup-screen-sec, section.lost-ps-screen-sec {
    background: transparent;
}
.login-screen .form-control {
    border-radius: 50px;
    margin-bottom: 15px;
	padding-left:15px;
}
.login-screen img,  .signup-screen img, .lost-ps-screen img {
    margin: 1.5em auto;
}
button.btn.btn-login {
    background: #07b107;
    border: 1px solid #07b107;
    border-radius: 50px;
    min-width: 200px;
    padding: 12px 0;
    box-shadow: 0px 0px 12px 1px rgba(61, 214, 34,0.4);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto;
    display: table;
}
.login-screen span, .signup-screen span, .lost-ps-screen span {
    margin-top: 12px;
    display: inline-block;
    text-align: center;
	font-family: 'Quicksand', sans-serif;
    width: 100%;
}
.login-screen span a, .signup-screen span a, .lost-ps-screen span a{
color:#07b107;
}

/*----------------------------------------
Begin: Signup 2 page design
-----------------------------------------*/
.login-plane-sec{
margin-top:5%;
}
.login-panel {
    background: rgba(255,255,255,0.1);
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.04);
	padding:10px 0px 0px 0px;
	border:1px solid #f4f5f7;
	color:#ffffff;
}
.login-panel.panel-default>.panel-heading {
    color:#636d75;
    background-color: transparent;
	background-image:none;
	text-align:center;
    border:none;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.btn-login{
background:#07b107;
border-radius:2px;
color:#ffffff;
padding:12px 25px;
text-transform:uppercase;
display:table;
margin:0 auto;
min-width:220px;
}
.login-panel .form-control{
height:52px;
color:#636d75;
font-size:16px;
border-radius:1px;
background:#fbfdff;
border:1px solid #d7dfea;
}
.login-panel .panel-title{
font-size:24px;
}
.login-panel img{
margin:20px auto 20px auto;
max-width:40%;
}
.login-panel form{
padding:0 30px 30px 30px;
}
.login-panel .panel-body{
padding:0;
}

.login-panel .social-login{
padding:0;
margin:0;
margin-top:7px;
position:relative;
}
.login-panel .social-login li{
padding:12px 0;
text-align:center;
width:50%;
display:inline-block;
float:left;
}
.login-panel .social-login li a{
color:#ffffff;
font-size:16px;
}
.login-panel .social-login li a i{
font-size:14px;
width:32px;
height:32px;
border-radius:50%;
background:rgba(2,2,2,0.2);
margin-right:10px;
line-height:32px;
}
.login-panel .social-login .facebook-login{
background:#35508a;
}
.login-panel .social-login .google-plus-login{
background:#f32810;
}
.login-panel label{
color:#07b107;
}
.login-panel .social-login span{
position:absolute;
width:46px;
height:46px;
background:#ffffff;
left:45%;
color:#263238;
border-radius:50%;
border:5px solid rgba(2,2,2,0.1);
text-align:center;
vertical-align:middle;
line-height:38px;
top:5px;
}
.login-panel .form-control:focus {
    border-color: #07b107;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(7, 177, 7, 0.075) inset, 0px 0px 8px rgba(7, 177, 7, 0.6);
}
/*----------------------------------------------
Search Job Page Design
------------------------------------------------*/
.job-types label{
font-weight:600;
color:#707c88;
margin: 0 0 10px 15px;
}
.job-types {
    text-align: right;
}
.job-types input[type=checkbox], .job-types input[type=radio]{
top:7.33333px;
}
@-webkit-keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width:100px;
 height: 100px;
 margin-left: -80px;
 margin-top: -80px;
 opacity: 0.0;
}
}
@-moz-keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 100px;
 height:100px;
 margin-left: -40px;
 margin-top: -40px;
 opacity: 0.0;
}
}
@-o-keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width:100px;
 height:100px;
 margin-left: -40px;
 margin-top: -40px;
 opacity: 0.0;
}
}
@keyframes 
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width:100px;
 height:100px;
 margin-left: -40px;
 margin-top: -40px;
 opacity: 0.0;
}
}

.check-option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width:25px;
  height:25px;
  border-radius:50%;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background:#eaeef3;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;

}
.check-option.full-time{
background:#03a504;	
}
.check-option.part-time{
background:#f6931e;	
}
.check-option.freelancer{
background:#26a9e1;	
}
.check-option.internship{
background:#d20001;	
}

.check-option.full-time:checked { background:#03a504; }
.check-option.part-time:checked { background:#f6931e; }
.check-option.freelancer:checked { background:#26a9e1; }
.check-option.internship:checked { background:#d20001; }

.check-option:checked::before {
  width:25px;
  height:25px;
  position: absolute;
  content: '\002714';
  display: inline-block;
  font-size: 15px;
  text-align: center;
  line-height:25px;
}

.check-option:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.check-option.full-time:checked::after{
background:#03a504;	
}
.check-option.part-time:checked::after{
background:#f6931e;	
}
.check-option.freelancer:checked::after{
background:#26a9e1;	
}
.check-option.internship:checked::after{
background:#d20001;	
}
.check-option.radio { border-radius: 50%; }

.check-option.radio::after { border-radius: 50%; }

/*-------------------------------------------
Brows job in Grid Style
-----------------------------------------*/
.grid-view.brows-job-list {
    position: relative;
    text-align: center;
	padding-bottom:0;
	margin-bottom:45px;
}
.grid-view .brows-job-type span {
    position: absolute;
	padding: 3px 20px;
    top: 10px;
    right: 0;
}
.grid-view.brows-job-list:hover, .grid-view.brows-job-list:focus{
border:none;
}
.grid-view .brows-job-company-img {
width: 110px;
margin: 0 auto;
margin: 10px auto;
height:110px;
display: inline-block;
border:1px solid #e4e4e4;
background: #ffffff;
vertical-align: middle;
border-radius: 50%;
line-height: 110px;
}
.grid-view .brows-job-company-img img {
margin: 0 auto;
vertical-align: middle;
display: inline-block;
max-width:70px;
line-height: 110px;
}
.grid-view-caption {
margin:3em 0 0 0;
padding: 0;
border-top:1px solid #e4e4e4;
display:flex;
width: 100%;
}
.brows-job-position {
    padding: 0 15px;
}
.grid-view-caption li{
display:inline-block;
float:left;
width:50%;
padding:10px 0;
line-height: 2.2;
}
.brows-job-description{
font-size:15.5px;
line-height:1.8;
color:#5b6d77;
padding:10px 12px;
}
.brows-job-description p{
line-height:1.9;
}
.grid-view-caption li:first-child{
border-right:1px solid #e4e4e4;
}
.grid-view-caption li p{
margin-bottom:0;
}
.grid-view-caption li i{
padding-right:10px;
}
.grid-view-caption .brows-job-location {
    margin-top: 0px;
}
.grid-view-caption .brows-job-location p i{
margin-right:0;
}
.grid-view-caption .brows-job-location p, .grid-view-caption .brows-job-sallery {
font-size:14px;
margin-bottom:0;
}