<template>
    <div class="bg-img" v-bind:style="{ backgroundImage: `url(${this.src}` }">
    </div>
</template>

<script>
export default {
  props: {
    src: String,
    required: true
  }
};
</script>

<style>
.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>
