<template>
    <router-link :to="to">
        <button class="btn btn-primary">
            Next
        </button>
    </router-link>
</template>
<script>
export default {
  props: {
      to: {
          type:String,
          required: true
      }
  }
}
</script>
