<template>
  <div class="quiz-step">
      <div class="quiz-title">
          {{ title }}
      </div>
      <div class="quiz-content">
          <slot name="content"></slot>
      </div>
      <div class="quiz-actions">
          <slot name="actions"></slot>
      </div>
      <div class="quiz-page">
          {{ currentPage }} / {{ maxPage }}
      </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    },
    maxPage: {
      type: Number,
      default: 5
    }
  }
};
</script>

<style>
.quiz-step {
  background: rgba(238, 243, 245, 0.9);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

@media screen and (min-width: 1025px) {
  .quiz-step {
    width: 640px;
    border-radius: 5px;
    top: 150px
  }
}

@media screen and (max-width: 1024px) {
  .quiz-step {
    height: 100%;
  }
}

.quiz-title {
  background-color: #07b107;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 16px;
  padding: 25px 0px;
  text-transform: uppercase;
  text-align: center;
}

.quiz-actions,
.quiz-content {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.quiz-actions .btn {
  width: 200px !important;
}

.quiz-page {
  width: 50px;
  height: 50px;
  font-size: 12px;
  padding: 12px 0;
  background-color: #fff;
  margin:0 auto 20px auto;
  border-radius: 50%;
  text-align: center; 
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
</style>