<template>  
    <div id="quiz">
      <transition name="fade">        
        <background-image
          key="1" 
          v-if="currentRoute === '/quiz-step-price'" 
          src="https://res.cloudinary.com/apartmentlist/image/upload/s--1IGxWqn1--/t_web-base/v1/web/static/quiz/commute_location" 
        ></background-image>

        <background-image 
          key="2"
          v-if="currentRoute === '/quiz-step-location'" 
          src="https://res.cloudinary.com/apartmentlist/image/upload/s--BSbYDuQv--/t_web-base/v1/web/static/quiz/location"
        ></background-image>

        <background-image 
          key="3"
          v-if="currentRoute === '/quiz-step-lease'" 
          src="https://res.cloudinary.com/apartmentlist/image/upload/s--UzAAtuFj--/t_web-base/v1/web/static/quiz/lease_length"
        ></background-image>        

        <background-image 
          key="4"
          v-if="currentRoute === '/quiz-step-urgency'" 
          src="https://res.cloudinary.com/apartmentlist/image/upload/s---w4WcHcU--/t_web-base/v1/web/static/quiz/maxrent"
        ></background-image>

        <background-image 
          key="5"
          v-if="currentRoute === '/quiz-step-age'" 
          src="https://res.cloudinary.com/apartmentlist/image/upload/s---w4WcHcU--/t_web-base/v1/web/static/quiz/maxrent"
        ></background-image>
      </transition>

      <transition name="slide" mode="out-in">  
        <router-view></router-view>
      </transition>

    </div>
  
</template>

<script>
import BackgroundImage from "./BackgroundImage.vue";

export default {
  computed: {
    currentRoute() {
      return this.$route.path;
    }
  },
  components: {
    "background-image": BackgroundImage
  }
};
</script>

<style>
@media screen and (min-width: 1025px) {
  #quiz {
    min-height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  #quiz {
    min-height: 700px;
    padding: 0;
  }
}

/* Transitions */

/** Slide */
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}

.slide-enter {
  transform: translate(150%, 0);
}

.slide-leave-to {
  transform: translate(-200%, 0);
}

/** Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
