<template>
    <quiz-step title="What is your age?" :current-page="5">
        <div slot="content">
            <div class="age-question">
                <input type="number" name="age" min="0" max="120" v-model="age">
                <div>
                    You are {{ age }} years old.
                </div>
            </div>
        </div>
        <div slot="actions">
            <next-button to="/quiz-step-price"></next-button>
        </div>
    </quiz-step>
</template>

<script>
import QuizStep from "../QuizStep.vue"
import NextButton from "../NextButton.vue"

export default {
  components: {
    "quiz-step": QuizStep,
    "next-button": NextButton
  },
  data() {
    return {
      age: 18
    };
  }
};
</script>

<style>
.age-question {
  text-align: center;
}
.age-question input {
    margin-bottom: 10px
}
</style>