<template>
  <!-- Change the "title" and "current-page" attributes -->
  <quiz-step title="STEP TITLE GOES HERE" :current-page="1"> 
      <div slot="content">
          <!-- Here goes the content of your step (inputs, text boxes, options)-->   
      </div>
      <div slot="actions">
          <!-- Here goes the "actions", like the "Next" button -->
          <next-button to="/ROUTE-TO-NEXT-STEP"></next-button>    
      </div>         	
  </quiz-step>
</template>

<script>
import QuizStep from "../QuizStep.vue"
import NextButton from "../NextButton.vue"

export default {
  components: {
    "quiz-step": QuizStep,
    "next-button": NextButton
  }
};
</script>

<style>
/* Add css for this step to your liking */
</style>

