<template>
  <quiz-step title="WHAT LEASE LENGTH ARE YOU LOOKING TO SIGN?" :current-page="3">
      <div slot="content">          
          <input class="form-control length" name="quiz-lease-length-input" type="number" min="1" max="25" value="12">
          <label class="length-unit" for="quiz-lease-length-input">Months</label>
      </div>
      <div slot="actions">
        <next-button to="/quiz-step-urgency"></next-button>      
      </div>         	
  </quiz-step>
</template>

<script>
import QuizStep from "../QuizStep.vue"
import NextButton from "../NextButton.vue"

export default {
  components: {
    "quiz-step": QuizStep,
    "next-button": NextButton
  }
};
</script>

<style>
.form-control.length {
  display: inline-block;
  width: 65px;
}

.length-unit {
  font-weight: 400;
}
</style>
