<template>
  <quiz-step title="WHERE ARE YOU LOOKING TO MOVE?" :current-page="2">
      <div slot="content">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Thousand Oaks, CA">
        </div>     
      </div>
      <div slot="actions">
        <next-button to="/quiz-step-lease"></next-button>
      </div>         	
  </quiz-step>
</template>

<script>
import QuizStep from "../QuizStep.vue"
import NextButton from "../NextButton.vue"

export default {
  components: {
    "quiz-step": QuizStep,
    "next-button": NextButton
  }
};
</script>
