<template>
  <quiz-step title="WHAT ARE YOU LOOKING TO PAY?" :current-page="1">
      <div slot="content">
        <div class="price-label">
            Up to ${{ price }} a month
        </div>
        <div class="col-xs-12">
        <vue-slider 
          ref="slider"
          class="price" 
          v-model="price" 
          :min="500" 
          :max="10000" 
          :interval="100" 
          :tooltip="false"
          :width="windowWidth > 600 ? 500 : 200" 
        >        
        </vue-slider>
        </div>
      </div>
      <div slot="actions">
        <next-button to="/quiz-step-location"></next-button>
      </div>         	
  </quiz-step>
</template>

<script>
import QuizStep from "../QuizStep.vue"
import NextButton from "../NextButton.vue"
import vueSlider from "vue-slider-component"

export default {
  components: {
    "quiz-step": QuizStep,
    "next-button": NextButton,
    vueSlider
  },
  data() {
    return {
      price: 1000,
      windowWidth: window.screen.width
    };
  },
  computed: {
    sliderWidth() {
      return this.windowWidth > 968 ? 400 : 200
    }
  },
  mounted(){

    /* Quick solution to fix a bug with VueSlider
     */
    let self = this
    setTimeout(function(){
      self.$refs.slider.refresh()
    }, 1000)
    
  }
};
</script>

<style>
.price {
  margin-top: 20px;
}

.price-label {
  color: #fff;
  text-align: center;
  background: #07b107;
  border-radius: 25px;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  width: 260px;
  margin: 0 auto;
}
</style>
