<template>
    <quiz-step title="HOW IMPORTANT IS MOVE-IN DATE TO YOU?" :current-page="4">
        <div slot="content">
            <div class="single-column-boxes row">
                <div :class="'selection-box ' + (selectedOption == 1 ? 'active' : '')" @click="selectOption(1)">
                    <div class="selection-box-icon">
                        1
                    </div>
                    <div class="selection-box-label">
                        I’m just looking
                    </div>
                </div>
                <div :class="'selection-box ' + (selectedOption == 2 ? 'active' : '')" @click="selectOption(2)">
                    <div class="selection-box-icon">
                        2
                    </div>
                    <div class="selection-box-label">
                        I want to move, but I’m not in a hurry
                    </div>
                </div>
                <div :class="'selection-box ' + (selectedOption == 3 ? 'active' : '')" @click="selectOption(3)">
                    <div class="selection-box-icon">
                        3
                    </div>
                    <div class="selection-box-label">
                        I need to move, but can be a little flexible
                    </div>

                </div>
                <div :class="'selection-box ' + (selectedOption == 4 ? 'active' : '')" @click="selectOption(4)">
                    <div class="selection-box-icon">
                        4
                    </div>
                    <div class="selection-box-label">
                        I've gotta move!
                    </div>
                </div>
            </div>
        </div>
        <div slot="actions">
            <next-button to="/quiz-step-age"></next-button>
        </div>
    </quiz-step>
</template>

<script>
import QuizStep from "../QuizStep.vue"
import NextButton from "../NextButton.vue"

export default {
  components: {
    "quiz-step": QuizStep,
    "next-button": NextButton
  },
  data() {
      return {
          selectedOption: null
      }
  },
  methods: {
    selectOption(option) {
      this.selectedOption = option
    }
  }
};
</script>

<style>
.selection-box {
  display: flex;
  height: 70px;
  margin: 15px auto;
  padding: 20px 20px;
  text-align: left;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}

.selection-box.active {
  box-shadow: inset 0 0 0 2px #07b107;
}

.selection-box-icon {
  color: white;
  border-radius: 20px;
  font-size: 21px;
  border-radius: 15px;
  text-align: center;
  vertical-align: bottom;
  background: #07b107;
  width: 30px;
  height: 30px;
}

.selection-box-label {
  margin-left: 15px;
}
</style>